body {
    font-family: Arial, sans-serif;
    background-color: #EBD3F8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: row;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    max-width: 900px;
    width: 100%;
}

.login-form {
    padding: 20px;
    flex: 1;
}

.login-form h2 {
    color: #4a4a4a;
    margin-bottom: 10px;
}

.login-form p {
    color: #7a7a7a;
    margin-bottom: 20px;
}

.login-form label {
    display: block;
    margin: 10px 0 5px;
    color: #4a4a4a;
}

.login-form input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.login-form button {
    width: 100%;
    padding: 10px;
    background-color: #6a1b9a;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

.login-form button:hover {
    background-color: #4a148c;
}

.login-form a {
    display: block;
    text-align: right;
    color: #6a1b9a;
    text-decoration: none;
    margin-bottom: 10px;
}

.login-form a:hover {
    text-decoration: underline;
}

.image-container {
    flex: 1;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container img {
    max-width: 100%;
    height: auto;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .image-container {
        display: none;
    }
}
