body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #ffa500;
    padding: 10px;
    text-align: center;
    color: white;
}

.container {
    display: flex;
    flex-direction: row;
    max-width: 900px;
    margin: 50px auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

.form-container {
    padding: 20px;
    flex: 1;
}

.form-container h2 {
    color: #d63447;
    text-align: center;
    margin-bottom: 20px;
}

.form-container p {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.form-group input,
.form-group select {
    width: calc(100% - 22px);
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #d63447;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #c02c3a;
}

.image-container {
    flex: 1;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container img {
    max-width: 100%;
    height: auto;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .image-container {
        display: none;
    }
}
